.zen-signup-beta-list
  %h4.centered
    =t '.subscribe_msg'
  =form_tag subscribe_to_beta_list_path, method: :post, data: {remote: true} do |f|
    .row
      .col-sm-6.col-sm-offset-2
        .form-group#email{class: error_class(@mailing_list, :email)}
          %input.form-control#email{placeholder: t('.your_email'), name: 'mailing_list[email]', type: 'text'}
          -unless error_message(@mailing_list, :email).nil?
            %p.help-block#email
              %i.fa.fa-exclamation-triangle
              =error_message(@mailing_list, :email)
      .col-sm-2
        =submit_tag t('.subscribe_btn'), class: 'btn btn-primary', 'data-disable-with' => 'Subscribing ...'
