=render('layouts/signinup_menu')
.container
  -#%h1
    =image_tag 'logo.png', alt: app_name

  .zen-hero-section

    -#%h1.centered
      =image_tag 'logo.png', alt: app_name
      %br
      is lauching soon!
    %h1.centered
      =app_name
      is lauching soon!
    %br
    %h3.centered Elegante appointment software for your office

  .well
    =render('subscribe_to_beta_list_form')

  %p
    #footer-links
      =link_to 'site', site_path, {class: 'link'}
      |
      =link_to 'sign in', signin_path, {class: 'link'}
