<h1><%= image_tag 'logo.png' %></h1>

<h3>minimal appointment software for your office</h3>

<blockquote>
  <%= link_to 'login', 'http://app.zenappointments.com/login', {class: 'link'} %> 
</blockquote>
