=render('layouts/signinup_menu')
.container
  -#%h1
    =image_tag 'logo.png', alt: app_name

  %h1.centered ZenAppointments is lauching soon!

  .well
    =render('subscribe_to_beta_list_form')

  %p
    #footer-links
      =link_to 'site', site_path, {class: 'link'}
      |
      =link_to 'sign in', signin_path, {class: 'link'}
