%header
  .row
    %nav.top-bar
      -#.container
      %ul.title-area
        %li.name
          %h1
            =link_to 'ZenAppointments', '#'
      %section.top-bar-section
        %ul.right
          %li.active
            %a.scroll{href: '#features'} Features
          %li
            %a.scroll{href: '#pricing'} Pricing
          %li
            =link_to 'Blog', '#'
          %li
            =link_to 'Sign Up', signup_path, class: 'button'
          %li
            -# TODO: change all 'Sign In' to 'Log In'
            =link_to 'Log In', signin_path
.container
  .jumbotron
    .row
      .large-12.columns
        .jumbotron.homepage
          =image_tag 'http://placehold.it/980x500', class: 'bg'
          .content
            %h1 Everything you need to schedule your clients
            =link_to 'Sign Up for Free!', signup_path, class: 'large radius nice blue button'
  .acme-demo
    .row
      .large-14.columns
        %h2.centered elegant software to manage your office
        .acme-demo-container
          -#.explanations
            %ul
              %li foo 1
              %li foo 2
              %li foo 3
              %li foo 4
  .chessboard
    .row
      %h2.centered Everything you need to schedule your clients
      .small-2.large-3.columns.centered
        %i.icon-calendar.icon-big
        %h3.centered
          Schedule Clients
      .small-2.large-3.columns.centered
        %i.icon-group.icon-big
        %h3.centered
          Manage your Client List
      .small-2.large-3.columns.centered
        %i.icon-bell.icon-big
        %h3.centered
          Send Automatic Reminders to Your Clients
      .small-2.large-3.columns.centered
        %i.icon-money.icon-big
        %h3.centered
          Tracking Your Billing
    .row
      .small-2.large-3.columns.centered
        %i.icon-mobile-phone.icon-big
        %h3.centered
          Check your schedule on the run
      .small-2.large-3.columns.centered
        %i.icon-lock.icon-big
        %h3.centered
          Secure
      .small-2.large-3.columns.centered
        %i.icon-cloud.icon-big
        %h3.centered
          Always backed up so you never lose anything
      .small-2.large-3.columns.centered
        %i.icon-bar-chart.icon-big
        %h3.centered
          Measure how your business is doing
  .social
    .row
      %p
        Vivamus purus leo, hendrerit et rutrum eget, congue nec libero. Mauris sit amet erat lacus. Phasellus accumsan risus sed vehicula pulvinar. Aenean tempor nibh et magna fermentum, et tempor mi cursus. Curabitur consectetur magna vitae massa gravida, posuere vestibulum risus pharetra. Donec et est et enim pretium tincidunt in semper arcu. Praesent in lacus tincidunt, pharetra nisi non, suscipit tellus. Curabitur convallis arcu in nulla ullamcorper mattis. Sed tincidunt tempus velit quis dictum. Etiam rutrum tempor felis nec hendrerit.
      %p
        Integer diam magna, lobortis eget fermentum sit amet, iaculis eget sem. Pellentesque non lacinia est, et posuere sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero orci. Aliquam bibendum turpis id gravida vestibulum. Vestibulum pretium, magna eu tempor mollis, urna nisi vestibulum nisl, a vestibulum velit enim euismod lacus. In pulvinar porttitor ligula vel pretium.
      %p
        Curabitur pretium elit sit amet augue imperdiet mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed a tempor tortor. Morbi iaculis dapibus enim vel viverra. Maecenas eu hendrerit leo. Fusce mattis eleifend orci nec molestie. Aenean consequat eget nulla sed porttitor. Nam varius et velit non varius. Vivamus sollicitudin orci eu mi malesuada adipiscing. Ut lobortis suscipit lacinia.
  .features#features
    .row
      %a{name: 'features'}
      %h1 Features
      %p
        Integer diam magna, lobortis eget fermentum sit amet, iaculis eget sem. Pellentesque non lacinia est, et posuere sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero orci. Aliquam bibendum turpis id gravida vestibulum. Vestibulum pretium, magna eu tempor mollis, urna nisi vestibulum nisl, a vestibulum velit enim euismod lacus. In pulvinar porttitor ligula vel pretium.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus justo, auctor vitae tristique nec, adipiscing sed metus. In a magna vulputate nisi tincidunt vestibulum sit amet quis lacus. Vestibulum vulputate metus in purus sagittis dapibus. In vel libero in metus venenatis tristique commodo a nunc. Duis eu lectus nisl. Phasellus commodo adipiscing sapien non pellentesque. Praesent ut tristique risus.
      %p
        Nam et consequat mi. Maecenas sodales egestas laoreet. Sed varius urna risus, ac facilisis nisi congue at. Sed hendrerit tincidunt risus, nec sodales est hendrerit id. Maecenas quis iaculis ligula, vulputate euismod tortor. Curabitur iaculis lectus a congue venenatis. Sed at aliquet augue, eu sagittis odio. Phasellus risus turpis, sagittis vitae quam vitae, viverra fringilla odio. Suspendisse potenti.
      %p
        Vivamus purus leo, hendrerit et rutrum eget, congue nec libero. Mauris sit amet erat lacus. Phasellus accumsan risus sed vehicula pulvinar. Aenean tempor nibh et magna fermentum, et tempor mi cursus. Curabitur consectetur magna vitae massa gravida, posuere vestibulum risus pharetra. Donec et est et enim pretium tincidunt in semper arcu. Praesent in lacus tincidunt, pharetra nisi non, suscipit tellus. Curabitur convallis arcu in nulla ullamcorper mattis. Sed tincidunt tempus velit quis dictum. Etiam rutrum tempor felis nec hendrerit.
  .pricing#pricing
    .row
      %a{name: 'pricing'}
      %h1 Pricing
    .row
      %ul.large-block-grid-5
        %li
          %ul.pricing-table
            %li.title Basic
            %li.price $ 9.95/month
            %li.description Single User
            %li.bullet-item Unlimited Clients
            %li.bullet-item Unlimited Appointments
            %li.bullet-item Single Employee
            %li.bullet-item Simple Reports
            %li.bullet-item No Billing
            %li.bullet-item No Auto Reminders by Email
            %li.bullet-item No Auto Reminders by SMS
            %li.bullet-item Web Only
            %li.bullet-item
              =link_to 'Sign Up Now!', signup_path, class: 'radius nice blue button'
        %li
          %ul.pricing-table
            %li.title Solo
            %li.price $ 29.95/month
            %li.description Single User
            %li.bullet-item Unlimited Clients
            %li.bullet-item Unlimited Appointments
            %li.bullet-item Single Employee
            %li.bullet-item All Reports
            %li.bullet-item Billing
            %li.bullet-item Auto Reminders by Email
            %li.bullet-item No Auto Reminders by SMS
            %li.bullet-item Web/Mobile
            %li.bullet-item
              =link_to 'Sign Up Now!', signup_path, class: 'radius nice blue button'
        %li
          %ul.pricing-table
            %li.title Small Office
            %li.price $ 79.95/month
            %li.description Multi User
            %li.bullet-item Unlimited Clients
            %li.bullet-item Unlimited Appointments
            %li.bullet-item 10 Employees
            %li.bullet-item All Reports
            %li.bullet-item Billing
            %li.bullet-item Auto Reminders by Email
            %li.bullet-item Auto Reminders by SMS
            %li.bullet-item Web/Mobile
            %li.bullet-item
              =link_to 'Sign Up Now!', signup_path, class: 'radius nice blue button'
        %li
          %ul.pricing-table
            %li.title Big Office
            %li.price $&nbsp;249.95/month
            %li.description Multi User
            %li.bullet-item Unlimited Clients
            %li.bullet-item Unlimited Appointments
            %li.bullet-item Unlimited Employee
            %li.bullet-item All Reports
            %li.bullet-item Billing
            %li.bullet-item Auto Reminders by Email
            %li.bullet-item Auto Reminders by SMS
            %li.bullet-item Web/Mobile
            %li.bullet-item
              =link_to 'Sign Up Now!', signup_path, class: 'radius nice blue button'
        %li
          %ul.pricing-table
            %li.title Multi Office
            %li.price $&nbsp;89.95/month*
            %li.description Multi User
            %li.bullet-item Unlimited Clients
            %li.bullet-item Unlimited Appointments
            %li.bullet-item Unlimited Employee
            %li.bullet-item All Reports
            %li.bullet-item Billing
            %li.bullet-item Auto Reminders by Email
            %li.bullet-item Auto Reminders by SMS
            %li.bullet-item Web/Mobile
            %li.bullet-item
              =link_to 'Sign Up Now!', signup_path, class: 'radius nice blue button'
  .footer
    .container
      .row
        .small-2.large-4.columns
          %h5 ZenAppointments
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit

