-if @mailing_list.valid?
  $('.zen-signup-beta-list').replaceWith("<h3>#{t('.thank_you_scribing')}</h3>");
-else
  $('.zen-signup-beta-list').replaceWith("#{j render('subscribe_to_beta_list_form')}");
