// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #eee;
}

h1 {
  font-family: helvetica;
  color: #333;
  font-size: 36pt;
}

h2 {
  font-family: helvetica;
  color: #333;
  font-size: 24pt;
}

h3 {
  font-family: helvetica;
  color: #333;
  font-size: 16pt;
}

h4 {
  font-family: helvetica;
  color: #333;
  font-size: 12pt;
}

blockquote {
  font-family: helvetica;
  color: #333;
  font-size: 10pt;
}
