body {
  background-color: #fff;
}

a {
  font-family: helvetica;
  color: #aaa;
  &:hover { color: #222; }
  &:visited { color: #aaa; }
}

h1 {
  font-family: helvetica;
  color: #333;
  font-size: 36pt;
}

h2 {
  font-family: helvetica;
  color: #333;
  font-size: 24pt;
}

h3 {
  font-family: helvetica;
  color: #333;
  font-size: 16pt;
}

h4 {
  font-family: helvetica;
  color: #333;
  font-size: 12pt;
}

p {
  font-family: helvetica;
  color: #333;
  font-size: 16pt;
}

#footer-links {
  font-family: helvetica;
  color: #333;
  font-size: 8pt;
  position: absolute;
  width: 100px;
  right: 0px;
  bottom: 10px;
}

#lang-links {
  font-family: helvetica;
  color: #333;
  font-size: 8pt;
  position: absolute;
  width: 100px;
  left: 50px;
  bottom: 10px;
}

li.price.monthly {
  display: none;
}

li.price.yearly {
  display: block;
}

.yearly-details {
  font-size: 8pt;
  padding: 5px 0;
}

.zen-hero-section {
  height: 400px;
}
