/* zenappointments custom */

$section_padding:25px;

.navbar {
  border-radius: 0px;
}

#zen-logo {
  position:relative;
  top:-2px;
}

.acme-demo-container .explanations {
  position:relative;
}

.icon-big {
  font-size:12em;
}

.centered {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.jumbotron {
  position:relative;
  margin-bottom:30px;
}

.jumbotron h1 {
  position:absolute;
  left:20px;
  bottom:20px;
}

.acme-demo-container {
  position:relative;
  height:528px;
  padding:100px;
  background:image-url('acme-demo-mac.png') bottom center no-repeat;
}

.chessboard {
  position:relative;
  padding:$section_padding;
  background:rgba(200,200,200,1.0);
}

.social {
  position:relative;
  padding:$section_padding;
  background:rgba(100,150,100,1.0);
}

.features {
  position:relative;
  padding:$section_padding;
  background:rgba(100,100,150,1.0);
}

.pricing {
  background: opaque;
  position: relative;
  padding: $section_padding;
}

ul.pricing-table {
  float: left;
  display: block;
  width: 18%;
  border: 1px solid rgb(221, 221, 221);
  margin: 10px;
  padding: 0px;
  list-style: none;
  list-style-position: outside;

  li.title {
    padding: 5px 10px;
    background-color: #444;
    color: rgb(238, 238, 238);
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: normal;
  }

  li.price {
    padding: 5px 10px;
    background-color: #aaa;
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  li.description {
    padding: 5px 10px;
    background-color: #eee;
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 10px;
    font-weight: normal;
  }

  li.bullet-item {
    padding: 5px 10px;
    background-color: #fff;
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }

  li.button {
    padding: 10px 10px;
    background-color: #bbb;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
  }
}

.footer {
  position: relative;
  padding: $section_padding;
  background: rgba(0,100,150,0.85);
}

.homepage {
  .content {
    position:absolute;
    left:80px;
    bottom:20px;
    width:50%;
    background:rgba(255,255,255,0.85);
    padding:20px;
    blockquote {
      padding:0;
      border-left:none;
      font-size:24px;
      font-weight:bold;
    }
    h1 {
      position:relative;
      left:0px;
      bottom:0px;
      font-size:18px;
      font-weight:normal;
    }
  }
}

