/* zenappointments custom */

.acme-demo-container .explanations {
  position:relative;
}

.icon-big {
  font-size:12em;
}

.centered {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.acme-demo-container {
  position:relative;
  height:528px;
  background:image-url('acme-demo-mac.png') top left no-repeat;
}

.jumbotron {
  position:relative;
  margin-bottom:30px;
}

.jumbotron h1 {
  position:absolute;
  left:20px;
  bottom:20px;
}

.homepage {
  .content {
    position:absolute;
    left:80px;
    bottom:20px;
    width:50%;
    background:rgba(255,255,255,0.85);
    padding:20px;
    blockquote {
      padding:0;
      border-left:none;
      font-size:24px;
      font-weight:bold;
    }
    h1 {
      position:relative;
      left:0px;
      bottom:0px;
      font-size:18px;
      font-weight:normal;
    }
  }
}

