-# TODO does not align with site_menu
.navbar.navbar-default.zen-navbar(role='navigation')
  .container
    .navbar-inner
      =link_to image_tag('zen-logo.png', id:'zen-logo') + ' ' + app_name, www_url, {class:'navbar-brand'}
