-# TODO does not align with signinup_menu
%header
  .navbar.navbar-default.zen-navbar(role='navigation')
    .container
      .navbar-inner
        -# TODO need to define app_name url
        =link_to image_tag('zen-logo.png', id:'zen-logo') + ' ' + app_name, www_url, {class:'navbar-brand'}
        %ul.nav.navbar-nav
          %li{:class => active('site#features'), id: 'features_link'}
            =link_to 'Features', '#features', class: 'scroll'
          %li{:class => active('site#pricing'), id: 'pricing_link'}
            =link_to 'Pricing', '#pricing', class: 'scroll'
          %li{:class => active('site#blog'), id: 'blog_link'}
            =link_to 'Blog', '#'
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: signup_path, id: 'navbar-signup'}
              %button.btn.btn-default.navbar-btn Join Now for Free!
          %li
            %a{href: signin_path, id: 'navbar-signin'}
              %button.btn.btn-default.navbar-btn Sign In
          -#%li
            -#%button.btn.btn-default.navbar-btn
              =link_to 'Join Now!', signup_path
              -#Join Now!
            -#, signup_path, class: 'btn btn-default navbar-btn'
            -#=link_to 'Join Now!', signup_path, class: 'btn btn-default navbar-btn'
            %a{href: signup_path}
              %button.btn.btn-default.navbar-btn Join Now!
            -#=link_to 'Join Now!', signup_path, class: 'btn btn-default navbar-btn'
          -#%li
            %button.btn.btn-default.navbar-btn Sign In
            -#=link_to 'Sign In', signin_path, class: 'btn btn-default navbar-btn'
