.navbar.navbar-default.zen-navbar(role='navigation')
  .navbar-inner
    .container
      -# TODO need to define app_name url
      =link_to image_tag('zen-logo.png', id:'zen-logo') + ' ' + app_name, www_url, {class:'navbar-brand'}
      %ul.nav.navbar-nav
        %li{:class => active('site#features'), id: 'features'}
          =link_to 'Features', '#features', class: 'scroll'
        %li{:class => active('site#pricing'), id: 'pricing'}
          =link_to 'Pricing', '#pricing', class: 'scroll'
        %li{:class => active('site#blog'), id: 'blog'}
          =link_to 'Blog', '#'
      %ul.nav.navbar-nav.navbar-right
        %li{:class => active('site#signup'), id: 'signup'}
          =link_to 'Join Now!', signup_path, class: 'btn'
        %li{:class => active('site#signin'), id: 'signin'}
          =link_to 'Sign In', signin_path, class: 'btn'
